.burger_button {
  position: relative;
  display: block;
  width: 22px;
  height: 2px;
  background-color: black;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 22px;
    height: 2px;
    background-color: black;
  }

  &::before {
    top: 7px;
  }

  &::after {
    top: 14px;
  }
}
