.body {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 64px auto 64px;
}

.header {
  grid-row: 1/2;
}

.main {
  box-sizing: border-box;
  grid-row: 2/3;
  padding: 16px;
  padding-bottom: 0;
  background-color: #f7f7f7;

  @media (min-width: 1366px) {
    padding: 32px 173px;
  }
}

.footer {
  grid-row: 3/4;
}
