.body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 64px auto 64px;
}

.header {
  grid-row: 1/2;
}

.main {
  grid-row: 2/3;
  background-color: #f7f7f7;
}

.footer {
  grid-row: 3/4;
}
