.logo {
  display: block;
  width: 153px;
  height: 35px;
  font-size: 0;
  background:
    url(https://yastatic.net/q/logoaas/v1/Яндекс%20Заметки.svg) 100%
    100% no-repeat;
  background-size: 153px 38px;
}
