.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 12px;
}

.label_text {
  margin-right: 6px;
}

.input {
  flex-shrink: 1;
  margin-right: 6px;
  padding: 2px 10px;
  border-radius: 15px;
}

.addButton {
  cursor: pointer;
  position: relative;
  width: 15px;
  height: 15px;
  background-color: transparent;
  opacity: 0.4;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 15px;
    height: 2px;
    background-color: rgb(2, 168, 52);
  }

  &::after {
    transform: rotate(90deg);
  }

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.item {
  display: flex;
  align-items: center;
  padding: 3px 6px;
  background-color: white;
  margin-right: 10px;
  border-radius: 15px;
  margin-bottom: 5px;
}

.text {
  margin-right: 5px;
}

.delete {
  cursor: pointer;
  position: relative;
  width: 14px;
  height: 14px;
  background-color: black;
  border-radius: 50%;
  opacity: 0.3;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.6;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    top: calc(50% - 1px);
    left: calc(50% - 5px);
    background-color: white;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
