.header {
  box-sizing: border-box;
  position: fixed;
  z-index: 10;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
}

.wrapper {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 16px;
  z-index: 2;
}

.label {
  cursor: pointer;
  min-height: 16px;
}

.navigation_wrapper {
  position: absolute;
  width: 100%;
  top: -300%;
  transition: 0.6s;
  z-index: 1;
}

.checkbox:checked + .navigation_wrapper {
  top: 100%;
  transition: 0.6s;
  display: block;
}

@media (min-width: 970px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 16px;
  }

  .label {
    display: none;
  }

  .navigation_wrapper {
    position: static;
    width: auto;
  }
}
